.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .desktop-wrapper {
  background-color: #ffffff;
  width: 1728px;
  height: 5789px;
}

.frame .desktop {
  display: flex;
  flex-direction: column;
  width: 1728px;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.frame .hero {
  position: relative;
  width: 1728px;
  height: 914px;
}

.frame .root {
  height: 914px;
  background-color: #cef2ffdf;
}

.frame .groups {
  display: flex;
  flex-direction: column;
  width: 1728px;
  height: 914px;
  align-items: flex-start;
  padding: 0px 55px 54px;
  position: relative;
}

.frame .head {
  display: flex;
  align-items: center;
  gap: 62px;
  padding: 24px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .horizontal-logo {
  width: 180px;
  height: 45px;
  position: relative;
  object-fit: cover;
}

.frame .stack {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.frame .t {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .space {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.frame .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 44px;
  gap: 12px;
  padding: 0px 32px;
  flex: 0 0 auto;
  background-color: #2463eb;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
}

.frame .button:hover {
  background: #042e89;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.frame .body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
  padding: 48px 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.frame .text {
  flex-direction: column;
  width: 1007px;
  align-items: flex-start;
  gap: 36px;
  display: flex;
  position: relative;
  align-self: stretch;
}

.frame .t-title {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 64px;
}

.frame .t-subtitle {
  position: relative;
  width: 884px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0c0c0c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.frame .div {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 56px;
  gap: 12px;
  padding: 0px 40px;
  background-color: #2463eb;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
}

.frame .div:hover {
  background: #042e89;
}

.frame .numbers {
  display: flex;
  flex-direction: column;
  width: 513px;
  align-items: flex-start;
  gap: 34px;
  position: relative;
  align-self: stretch;
}

.frame .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .number {
  display: flex;
  width: 252.25px;
  align-items: center;
  gap: 27px;
  position: relative;
  align-self: stretch;
}

.frame .image {
  position: relative;
  width: 64px;
  height: 64px;
}

.frame .text-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .t-number {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.frame .t-2 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0c0c0c;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.frame .number-2 {
  display: flex;
  width: 252.25px;
  align-items: center;
  gap: 27px;
  position: relative;
}

.frame .div-2 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .products {
  display: flex;
  height: 236px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}

.frame .product {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 235.57px;
  background-image: url(image/m_product01.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .t-product {
  position: absolute;
  width: 293px;
  height: 32px;
  top: 107px;
  left: 55px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #e1e1e2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.frame .t-wrapper {
  height: 235.57px;
  background-image: url(image/m_product02.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .p {
  position: absolute;
  width: 293px;
  height: 32px;
  top: 101px;
  left: 56px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #e1e1e2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.frame .t-product-wrapper {
  height: 235.57px;
  background-image: url(image/m_product03.png);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .t-3 {
  position: absolute;
  width: 293px;
  height: 32px;
  top: 107px;
  left: 55px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #e1e1e2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.frame .overlap-group-wrapper {
  height: 236px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .overlap-group {
  position: relative;
  width: 348px;
  height: 236px;
  background-image: url(image/m_product04.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .t-4 {
  position: absolute;
  width: 303px;
  height: 32px;
  top: 117px;
  left: 22px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #e1e1e2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.frame .div-3 {
  display: flex;
  flex-direction: column;
  width: 1728px;
  align-items: center;
  gap: 64px;
  padding: 64px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.frame .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 42px;
}

.frame .container {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  height: 306px;
  align-items: center;
  justify-content: center;
  gap: 16px 16px;
  position: relative;
}

.frame .container-2 {
  display: flex;
  flex-wrap: wrap;
  width: 656px;
  height: 262px;
  align-items: center;
  justify-content: center;
  gap: 20px 40px;
  position: relative;
}

.frame .yandex {
  position: relative;
  width: 91.23px;
  height: 90px;
  object-fit: cover;
}

.frame .vk {
  position: relative;
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.frame .mts {
  position: relative;
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.frame .rostelekom {
  position: relative;
  width: 277px;
  height: 132px;
  object-fit: cover;
}

.frame .sber {
  position: relative;
  width: 196px;
  height: 121px;
  object-fit: cover;
}

.frame .CTA {
  display: flex;
  flex-wrap: wrap;
  width: 1728px;
  align-items: center;
  gap: 44px 64px;
  padding: 64px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.frame .m-image {
  position: relative;
  flex: 1;
  min-width: 504px;
  flex-grow: 1;
  width: 100%;
  height: 524px;
}

.frame .container-3 {
  display: flex;
  flex-direction: column;
  min-width: 504px;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .badge {
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 12px;
  position: relative;
  background-color: #fcfcfc;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b3b3b3;
}

.frame .t-slogan {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.frame .text-3 {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.frame .t-title-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 42px;
}

.frame .t-content {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.frame .container-4 {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.frame .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  min-height: 44px;
  gap: 12px;
  padding: 0px 16px;
  flex: 0 0 auto;
  background-color: #2463eb;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
}

.frame .button-2:hover {
  background: #042e89;
}

.frame .button-3 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 44px;
  gap: 12px;
  padding: 0px 16px;
  flex: 0 0 auto;
  background-color: #fcfcfc;
  border-color: #b3b3b3;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
}

.frame .img-2 {
  position: relative;
  width: 28px;
  height: 28px;
}

.frame .t-watch-video {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.frame .features {
  position: relative;
  width: 1728px;
  height: 675px;
  background-color: #2463eb;
}

.frame .overlap {
  position: absolute;
  width: 332px;
  height: 341px;
  top: 254px;
  left: 149px;
  border-radius: 15px;
  background-image: url(icons/j.jpg);
  background-size: 100% 100%;
}

.frame .t-detail {
  position: absolute;
  width: 225px;
  top: 55px;
  left: 43px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.frame .t-name {
  position: absolute;
  width: 276px;
  top: 282px;
  left: 43px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0c0c0c;
  font-size: 20.6px;
  letter-spacing: 0;
  line-height: 25.0px;
}

.frame .j {
  position: absolute;
  width: 332px;
  height: 341px;
  top: 253px;
  left: 698px;
}

.frame .group {
  position: relative;
  height: 341px;
  border-radius: 15px;
  background-image: url(icons/j.jpg);
  background-size: 100% 100%;
}

.frame .t-5 {
  position: absolute;
  width: 225px;
  top: 56px;
  left: 54px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.frame .t-6 {
  position: absolute;
  width: 276px;
  top: 260px;
  left: 46px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0c0c0c;
  font-size: 20.6px;
  letter-spacing: 0;
  line-height: 25.0px;
}

.frame .group-wrapper {
  position: absolute;
  width: 332px;
  height: 341px;
  top: 254px;
  left: 1247px;
}

.frame .group-2 {
  position: relative;
  height: 341px;
  border-radius: 15px;
  background-image: url(icons/j.jpg);
  background-size: 100% 100%;
}

.frame .t-7 {
  position: absolute;
  width: 276px;
  top: 282px;
  left: 67px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0c0c0c;
  font-size: 20.6px;
  letter-spacing: 0;
  line-height: 25.0px;
}

.frame .t-title-3 {
  position: absolute;
  width: 1065px;
  top: 109px;
  left: 68px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #f8fafc;
  font-size: 63.3px;
  letter-spacing: 0;
  line-height: 72.6px;
}

.frame .social-proof-reviews {
  gap: 32px;
  padding: 64px 160px;
  display: flex;
  flex-direction: column;
  width: 1728px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.frame .rating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.frame .container-5 {
  position: relative;
  flex: 0 0 auto;
}

.frame .t-user-review {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 42px;
}

.frame .avatar {
  display: inline-flex;
  height: 66px;
  align-items: center;
  gap: 16px;
  position: relative;
  border-radius: 100px;
}

.frame .a-user-avatar {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 1000px;
  border: 1px solid;
  border-color: #b3b3b3;
  background-size: cover;
  background-position: 50% 50%;
}

.frame .container-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.frame .t-user-name {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.frame .t-user-introduce {
  position: relative;
  width: fit-content;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1a1a1a5c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.frame .buttons {
  display: flex;
  width: 1072px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 183px;
  left: 328px;
}

.frame .button-icon {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #fcfcfc;
  border-color: #b3b3b3;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
}

.frame .button-icon-2 {
  position: relative;
  width: 44px;
  height: 44px;
}

.frame .text-4 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.frame .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #0c0c0c;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.frame .container-7 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .pricing {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  align-items: center;
  gap: 16px;
  padding: 16px 16px 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b3b3b3;
}

.frame .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .t-basic-package {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #16a249;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.frame .text-5 {
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 8px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 42px;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #0c0c0c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.frame .divider {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: #b3b3b3;
}

.frame .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .pricing-item {
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.frame .check {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .text-wrapper-6 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.frame .button-4 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b3b3b3;
  background-color: #ffffff;
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.frame .button-4:hover {
  background: #2463eb;
  color: #ffffff;
}

.frame .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .text-wrapper-7:hover {
  color: #ffffff;
}

.frame .pricing-2 {
  flex-direction: column;
  min-width: 250px;
  align-items: center;
  gap: 16px;
  padding: 16px 16px 24px;
  flex: 1;
  flex-grow: 1;
  background-color: #f8fafc;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b3b3b3;
  display: flex;
  position: relative;
}

.frame .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #2463eb;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.frame .text-6 {
  flex-wrap: wrap;
  align-items: center;
  gap: 0px 25px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.frame .text-wrapper-9 {
  position: relative;
  flex: 1;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.frame .button-5 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b3b3b3;
  background-color: #ffffff;
  color: #000000;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
}

.frame .button-5:hover {
  background: #2463eb;
  color: #ffffff;
}

.frame .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.frame .pricing-3 {
  flex-direction: column;
  min-width: 250px;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 16px 24px;
  flex: 1;
  flex-grow: 1;
  background-color: #f8fafc;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b3b3b3;
  display: flex;
  position: relative;
}

.frame .text-7 {
  flex-wrap: wrap;
  align-items: center;
  gap: 0px 8px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.frame .t-team-per-month {
  position: relative;
  width: 120px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.frame .pricing-4 {
  flex-direction: column;
  min-width: 250px;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 16px 24px;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b3b3b3;
  display: flex;
  position: relative;
}

.frame .t-enterprise-package {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #0c0c0c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.frame .social-proof-FAQ {
  gap: 64px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  width: 1728px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.frame .div-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 20px 24px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fcfcfc;
  border-radius: 12px;
  border: 1px solid;
  border-color: #b3b3b3;
}

.frame .container-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 32px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .t-question {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.frame .icon-r {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 20px;
  left: 1548px;
}

.frame .div-5 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 20px 24px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fcfcfc;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #b3b3b3;
}

.frame .container-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 16px 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.frame .t-answer {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #0c0c0c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28px;
}

.frame .icon-r-2 {
  position: absolute;
  width: 28px;
  height: 20px;
  top: 0;
  left: 1524px;
}

.frame .t-8 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #0c0c0c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.frame .footer {
  display: flex;
  flex-direction: column;
  width: 1728px;
  align-items: flex-start;
  padding: 0px 64px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.frame .footer-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .cols {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 32px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .item-2 {
  min-width: 168px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.frame .t-features {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #4c4c4c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.frame .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.frame .item-3 {
  width: 323px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.frame .text-wrapper-12 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #4c4c4c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}

.frame .item-4 {
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.frame .horizontal-logo-2 {
  width: 173px;
  height: 50px;
  position: relative;
  object-fit: cover;
}

.frame .t-copyright {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #1a1a1a5c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.slider {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}